* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

#world-search {
    position: absolute;
    top: 5vh;
    left: 3rem;

    background-color: white;
}

#search-button {
    width: 3rem;
    background-color: green;
}

#exit-button {
    background-color: red;

    margin: 1rem;
    padding: 0.5rem;

    border-radius: 0.25rem;
}

.popup {

    position: relative;
    top: -5rem;

    transform: translateY(-50%);

    margin: 0 20vw;
    height: 1rem;

    width: 60vw;

    background-color: rgb(32, 32, 124);

    border-radius: 0.25rem;

    animation: 100ms animate-opening ease-in-out forwards;

}

@keyframes animate-opening {
    0% {
        height: 1rem;
    }
    100% {
        height: 25vh;
        border: 3px solid rgb(81, 81, 215);
    }
}

.active {
    box-shadow: 0 0 0.5rem rgba(229, 232, 48, 0.5);
    border-color: gold;
}

.item-count {
    font-weight: bold;
    color: white;
}
  /* Handle */

#inventory {
    /* opacity: 0; */

    display: flex;
    justify-content: center;

    padding-top: 1rem;

    width: fit-content;
    height: 20vh;

    position: absolute;
    bottom: 0;
    left: 2.5vw;

    border: 2px solid rgb(233, 80, 80);
    border-bottom: none;

    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;

    background-color: rgb(151, 36, 36);

    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);

    overflow: scroll;
    overflow-x: hidden;
}

#inventory::-webkit-scrollbar-thumb {
    background: #af2424;
  }
  
  /* Handle on hover */
  #inventory::-webkit-scrollbar-thumb:hover {
    background: #4d0303;
  }

#inventory__tiles {

    width: 90vw;
    margin: 0 auto;

    padding: 0 5rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);

    gap: 1vw;

}

.inventory__tiles__tile {

    aspect-ratio: 1/1;
    width: 7vw;

    border-radius: 0.25rem;
    border: 2px solid;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory__tiles__tile > img {
    width: 80%;
    aspect-ratio: 1/1;
}

.utility {

    border-color: rgb(66, 153, 44);
    background-color: rgb(27, 110, 27);

}

.empty {

    border-color: rgb(136, 135, 135);
    background-color: rgb(46, 46, 46);


}

.blocks {

    border-color: rgb(70, 127, 240);
    background-color: rgb(41, 53, 158);

}

.consumeables {

    border-color: rgb(143, 35, 151);
    background-color: rgb(108, 13, 76);

}

.seeds {

    border-color: rgb(204, 135, 70);
    background-color: rgb(174, 91, 19);

}

.clothing {

    border-color: rgb(80, 191, 195);
    background-color: rgb(44, 121, 124);

}

.iteminfo_popup {

    height: 2rem;

    padding: 0 0.5rem;

    border: 3px solid rgb(15, 13, 13);
    background-color: rgb(56, 56, 56);
    color: white;

    border-radius: 0.25rem;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadein-and-out 3.5s ease-in-out forwards;
}

@keyframes fadein-and-out {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
  }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }